div.app {
  min-height: 100vh;
  text-align: center;
}

div.decision {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3%;
  padding: 3%;
}

.large-svg {
  width: 200px;
  height: 200px;
}

.start {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

svg {
  padding: 0;
}


p {
  font-family: poppins;
  font-size: 20px;
  margin: 0;
}

h3 {
  font-family: Poppins;
  font-size: 30px;
  margin: 0;
}

.image {
  padding: 2%;
  margin: 2%;
}



.post {
  display: flexbox;
  text-align: center;
  justify-content: center;
  background-color: wheat;
  text-transform: uppercase;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.post-text {
  margin: 7%;
}

.text-container {
  background: black;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* input[type=text],
input[type=password] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
} */


.email {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 0 30px;
  font-size: 25px;
}

.text-container {
  /* background: linear-gradient(black, grey); */
  background: black;

}



.link-profile {
  display: flex;
  flex-direction: row;
}


.route {
  flex: 1 0 auto;
}

.pic {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: 0;
  padding: 0;
}

/* body {
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
} */


.nav>a {
  margin: 20px;
  text-decoration: none;
}

a:-webkit-any-link {
  cursor: pointer;
}

.page-footer {
  flex-shrink: 0;
}

.rectangle-1 {
  position: absolute;
  width: 220px;
  height: 72px;
  left: 403px;
  top: 720px;
}

.rectangle-2 {
  position: absolute;
  width: 220px;
  height: 72px;
  left: 803px;
  top: 720px;
}

.bottom-group {
  position: absolute;
  width: 1200px;
  height: 1093px;
  left: 0px;
  top: 720px;
}