.questions-title {
font-size: 30px
}

.email-link {
  font-size: 20px;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.large-svg {
  height: 162px;
  width: 162px;
}

.contact-container {
/* align-items: center; */
display: flex;
flex-direction: column;
}

@media only screen and (max-width: 850px) {
  .large-svg {
    height: 108px;
    width: 108px;
  }

  .contact-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    }

    .contact-content {
      padding-left: 3px;
      align-items: center;
    display: flex;
    flex-direction: column;
    }

  h2 {
    margin: 0;
  }

  .email {
    align-items: center;
    display: flex;
    flex-direction: column; 
  }

  .email-link {
    font-size: 15px;
  }

  .questions-title {
    font-size: 20px
    }
  }