.footer-container {
  background-color: rgb(221, 219, 219);
  font-size: 20px;
  font-family: poppins;
  color: white;
}

.footer {
  display:flex;
  flex-direction: row;
  padding: 0 2% 0 2%;
}

.social {
  padding: 1%;
  color: white;
  display: flex;
  flex-direction: row;
}

.footer-header {
  padding: 2.5% 0 0 0;
}

.co-care {
  margin-left: auto;
  padding: 2.5% 0 0 0;
  display: flex;
  flex-direction: row;
}

.social-s {
  padding: 15px;
  margin: 20%;
  width: 30px;
}