.gethelp-main-container {
  margin: 3%;
}

.title-container {
  margin-left: 3%;
}

.title {
  font-size: 40px;
  font-family: Avenir;
  font-weight: 450;
  text-align: left;
  
}

.gethelp-type {
  margin: 0 3%;
  display: flex;
  justify-items: center;
  padding: 0 10%;
  margin-top: auto;
}

.sub-title {
  font-size: 30px;
  font-family: Poppins;
  font-weight: 450;
  text-align: left;
  margin: 30px 0;
}

.sub-sub-title {
  font-size: 20px;
  font-family: Poppins;
  font-weight: 450;
  text-align: left;
  padding: 0 0 0 2%;
  align-items: center;
}

.gethelp-contact {
  margin: 0.1% 0 5% 0;
  display: flex;
  flex-direction: row;
}

.gethelp-contact-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto 2vw;
}

.gethelp-contact-input p {
  display: flex;
  flex-direction: row;
  margin: 1%;
}

.button-container {
  margin-left: auto;
  margin-right: auto;
}

.gethelp-input-container {
  border: none;
  margin-left: 36px;
  margin-bottom: 18px;
}

.gethelp-form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 36px;
}

.gethelp-input {
  border: none;
  background-color: rgb(228, 228, 228);
  width: 80%;
  height: 150px;
  padding: 1.5% 2%;
  font-size: 20px;
  font-family: Poppins;
  margin: 0 0 0 0;
}

.find-help-button {
  background-color: rgb(89, 132, 250);
  color: whitesmoke;
  padding: 18px;
  border-radius: 5%;
  font-size: x-large;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);
}

.option-text {
  font-size: 20px;
  margin: 5px 15px;
  margin-left: auto;
  margin-right: auto;
}

.options {
  width: 20%;
}

.gethelp-options {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
  margin-top: 27px;
}
.gethelp-option-button {
  margin: 0 1vw;
  padding-left: 2vw;
  text-align: center;
}

.gethelp-option-button a {
  width: 30%;
  
}

.option-submit-button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 170px;
  width: 170px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-align: center;
  background-color: rgb(237, 252, 224);
  padding: 10px;
  font-size: 20px;
  border: none;
  fill: #5BB275;
  border-radius: 7%;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.4);
}

.option-submit-button:hover {
  background-color: rgb(0, 146, 12);
  fill: rgb(237, 252, 224);
}

.option-submit-button:focus {
  background-color: rgb(0, 146, 12);
  fill: rgb(237, 252, 224);
}

@media only screen and (max-width: 850px) {
  .gethelp-main-container {
    height: 100%;
    margin: 3%;
  }

  .title-container {
    margin-left: 3%;
  }

  .title {
    font-size: 5vw;
    font-family: Avenir;
    font-weight: 450;
    text-align: left;
    margin: 0;
  }

  .gethelp-type {
    margin: 0 3%;
    display: flex;
    justify-items: center;
    padding: 0 10%;
    margin-top: auto;
  }

  .sub-title {
    font-size: 3vw;
    font-family: Poppins;
    font-weight: 450;
    text-align: left;
    margin-bottom: 3vw;
    margin-top: unset;
  }

  .sub-sub-title {
    font-size: 3vw;
    font-family: Poppins;
    font-weight: 450;
    text-align: left;
    padding: 0 0 0 2%;
    align-items: center;
  }

  .gethelp-contact {
    margin: 0.1% 0 5% 0;
    display: flex;
    flex-direction: row;
  }

  .gethelp-contact-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto 2vw;
  }

  .gethelp-contact-input p {
    display: flex;
    flex-direction: row;
    margin: 1%;
  }

  .gethelp-options {
    display: flex;
    /* width: 90%; */
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .gethelp-input-container {
    border: none;
    margin-right: auto;
    margin-bottom: 5%;
  }

  .gethelp-form {
    display: flex;
  flex-direction: column;
  }

  .gethelp-input {
    height: 81px;
    width: 243px;
    padding: 1.5% 2%;
    font-size: 2.5vw;
  }

  .find-help-button {
    background-color: rgb(89, 132, 250);
    color: whitesmoke;
    padding: 9px;
    border-radius: 5%;
    font-size: 15px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);
  }

  .option-text {
    font-size: 2.5vw;
    margin: 1vw;
    margin-left: auto;
    margin-right: auto;
  }

  .options {
    width: 20%;
  }


  .gethelp-option-button {
    
    margin: 1px;
  }

  .gethelp-option-button a {
    width: 30%;
  }

  .option-submit-button {
    display: flex;
    flex-direction: column;
    height: 17vw;
    width: 17vw;
    align-items: center;
    margin: 2vw;
    text-align: center;
    background-color: rgb(237, 252, 224);
    padding: 3vw;
    font-size: 5vw;
    border: none;
    fill: #5BB275;
    border-radius: 7%;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.4);
  }

  .option-submit-button-medical {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 17vw;
    width: 17vw;
    margin: 2vw;
    text-align: center;
    background-color: rgb(237, 252, 224);
    padding: 3vw;
    font-size: 5vw;
    fill: #5BB275;
    border: none;
    border-radius: 7%;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.4);
  }


  .option-submit-button-medical:hover {
    background-color: rgb(0, 146, 12);
    fill: rgb(237, 252, 224);
  }

  .option-submit-button-medical:focus {
    background-color: rgb(0, 146, 12);
    fill: rgb(237, 252, 224);
  }

  .option-submit-button:hover {
    background-color: rgb(0, 146, 12);
    fill: rgb(237, 252, 224);
  }

  .option-submit-button:focus {
    background-color: rgb(0, 146, 12);
    fill: rgb(237, 252, 224);
  }
}