h1 {
  font-size: 35px;
  font-family: poppins;
  margin: 0 0.5%;
  font-weight: normal;
}


.meet {
  background: whitesmoke;
  padding: 4% 3% 5% 3%;
  justify-content: center;
}

.showcase {
  margin-left: auto;
  margin-right: auto;
}

.top-img {
  position: absolute;
  z-index: -1;
  width: 1500px;
  /* height: 741px; */
  top: 120px;
  left: 0;
  background-size: cover;
  margin-left: auto;
}

.buttons {
  /* margin-left: auto;
  margin-right: auto; */
  /* margin: 1%; */
  /* padding: 2%; */
  position: absolute;
  width: 800px;
  height: 134px;
  left: 350px;
  top: 725px;
}

.choice {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  background: #007EFF;
  color: white;
  text-decoration: none;
  margin: 5%;
  top: 10px;
  padding: 3% 5%;
  border-radius: 5%;
  font-weight: bold;
}

.choice:hover {
  background: rgb(1, 78, 155);
}



.text-1 {
  position: absolute;
  width: 853px;
  height: 135px;
  left: 72px;
  top: 484px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 54px;
  line-height: 64px;
  /* or 119% */
  letter-spacing: 0.002em;
  color: #FFFFFF;
}

.text-2 {
  position: absolute;
  width: 800px;
  height: 134px;
  left: 75px;
  top: 600px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */
  letter-spacing: 0.002em;

  color: #FFFFFF;
}

.vol {
  margin: 1% 4%;
  padding: 2%;
}

.volunteer-container {
  background: rgb(213, 245, 205);
  width: 1500px;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.volunteer-container {
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  /* width: 853px;
  height: 135px; */
  background: rgb(238, 252, 235);
  background-size: cover;
  top: 820px;
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 54px;
  line-height: 64px;
  /* or 119% */
  letter-spacing: 0.002em;

  color: black;
}

.options {
  align-items: center;
}

.pics-container {
  display: flex;
  flex-direction: column;
}

.pics {
  display: flex;
  justify-content: center;
}

.sub-pic {
  display: flex;
  flex-direction: row;
  width: 1500px;
  justify-content: center;
  padding: 0;
  margin: 0 2% 5.7% 2%;
}

.sub-option {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin: 0 35px 15px 35px;
}

.bio {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  /* margin-left: auto;
  margin-right: auto; */
  align-items: center;
}

.showcase {
  display: flex;
  flex-direction: row;
}

.quote {
  width: 60%;
}