.header {
  width: 90%;
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  margin: 1%;
}

.top-logo {
  height: 80%;
  width: 70%;
}

.link-profile {
  text-decoration: none;
  margin: 3%;
  align-items: center;
}

.link {
  text-decoration: none;
  margin: 2vw 3.5vw;
  font-size: 2vw;
}

.dropdown {
  margin: 2vw 3.5vw;
  display: inline-block;
  flex-direction: row;
}

.profileimg {
  display: flex;
  flex-direction: row;
  margin: 0 .5vw 0 0;
  width: 2vw;
}


.nav {
  display: flex;
  margin-left: auto;
}


/* .nav>a {
  margin: 3% 5%;
  text-decoration: none;
} */


.header-logo {
  position: absolute;
  width: 147px;
  height: 67.21px;
  left: 72px;
  top: 26px;
}

.home {
  display: flex;
  flex-direction: row;
  font-size: 3vw;
}

.link-profile {
  display: flex;
  flex-direction: row;
  padding: 0 5% 0 0;
  font-size: 2vw;
}

.user-name-nav {
  font-size: 2.5vw;
}

/* Dropdown Button */
.dropbtn {
  font-size: 2vw;
  border: none;
  text-decoration: none;
  background-color: transparent;
  margin: 3% 5%;
  display: flex;
  flex-direction: row;
  font-family: Poppins;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.arrow {
  width: 1vw;
  padding: .5vw;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  align-items: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  /* background-color: #3e8e41; */
}