
  .register-main-container{
    display: flex;

  }
  
  .register-right-container{
  width: 50%;
  background-color: rgb(231, 231, 231);
  }

  .register-signin-container{
    width: 50%;
    padding: 5%;
    margin: 5% 0;
    }
  
  .register-left-container{
    width: 50%;
    /* height: 100%; */
    background-image: url();
    top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(237, 250, 234);
  }
  
  .register-input-style{
    width: 70%;
    border: none;
    border-bottom: solid rgb(0, 146, 12) 1px;
    font-size: x-large;
    display: block;
    margin: 5% auto;
    background-color: rgb(231, 231, 231);
    outline: none;
  }
  
  .register-title{
    text-align: center;
    color: rgb(0, 146, 12);
  }
  
  .register-submit-button{
    display: block;
    margin: 5% auto;
    text-align: center;
    background-color: rgb(0, 146, 12);
    color: rgb(231, 231, 231);
    padding: 3%;
    font-size: x-large;
  }
  
  .have-account-title{
    color: rgb(46, 45, 45);
    margin: 3% auto;
    text-align: center;
  }
  
  .register-signin-redirect-button{
    margin-bottom: 0;
    font-size: x-large;
    background-color: rgb(0, 146, 12);
    border: none;
    color: rgb(231, 231, 231);
    padding: 5%;
  }
  
  .register-signin-redirect-button:hover, .register-submit-button:hover{
    background-color: rgb(0, 90, 8);
    cursor: pointer;
  }