.edit-form {
 display: flex;
 flex-direction: column;
 margin: 1vw;
 width:30%;
}

.updatepost {
display: flex;
flex-direction: column;
align-items: center;
background-color: rgb(211, 245, 184);
}

.edit-input {
height: 5vw;
font-size: 2vw;
margin: 1vw;
}