.volunteer-signup-container {
  display: flex;
  flex-direction: row;
  font-family: poppins;
}

.volunteer-input {
  font-family: Poppins;
  width: 70%;
  outline: none;
  border-bottom: solid rgb(0, 146, 12) 1px;
  font-size: 2.5vw;
  font-weight: light;
  display: block;
  margin: 3.5% auto;
 height: 5vw;
 box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.volunteer-title {
  font-size: 5vw;
  font-family: Poppins;
letter-spacing: .02em;
font-weight: 500;
}

.volunteer-submit {
  background-color: rgb(0, 146, 12);
  color: rgb(231, 231, 231);
  padding: 3% 5%;
  font-size: 3vw;
  border-radius: 5%;
  text-decoration: none;
  margin: 3vw auto 5vw auto;
}

.volunteer-left-container {
  background-color: rgb(232, 246, 248); 
  width: 50%;
  top: 0;
}

.volunteer-right-container {
  width: 50%;
  background-image: url();
  justify-content: space-between;
}

.volunteer-left-content {
  font-size: 3vw ;
  font-style: normal;
  font-family: poppins;
  margin: 0.5% 0 0 0;
}

.volunteer-content-container-left {
 padding: 1vw 0 0 0 ;
}

.volunteer-content-container-right {
 
  
}

.volunteer-left-co-container {
  margin: 4vw;
}

.top {
  margin: 0 0 7.5% 0;
}

.bottom {

}

.volunteer-right-corner {
  
}

.volunteer-header-container {
  display: flex;
  flex-direction: column;
}

.volunteer-header {
  font-size: 4vw;
}